.custom-box {
  margin: 2px;
  min-width: 110px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.upper-half {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 1px;
  position: relative;
  font-size: 8px;
}

.heading {
  margin: 0;
  font-size: 8px;
}

.left-icon {
  height: 7px;
  width: 7px;
  margin-left: 3px;
  margin-right: 3px;
}

.right-icon {
  height: 6px;
  width: 6px;
  border-radius: 33px;
  border: 1px solid white;
  margin-right: 3px;
  align-self: flex-end;
}

.lower-half {
  color: #333;
  padding-left: 5px;
}

.dynamic-data {
  font-size: 8px;
}

.custom-box:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid blue;
}

.upper-half-container {
  display: flex;
  align-items: center;
}
