.settings-panel_header{
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid rgb(225, 225, 225);
    width: 100%; /* or any specific width */
  height: 2rem; 
}

.settings-panel_img{
    position: absolute;
    left: 10px; 
    height: 20px; 
}

.settings-panel_span{
    text-align: center;
    font-size: 16px; 
}

.settings-panel_input-container{
  margin: 0px;
    /* background-color: red; */
    padding: 16px 10px;
    /* padding: 7px; */
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(211, 211, 211);
}

.settings-panel_input-container-label{
    width: 100%;
    color: grey;
    margin-bottom: 10px;
}

.settings-panel_input{
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  font-size: 10px;
  font-style: normal;
  color: rgb(87, 87, 87);
  padding: 3px 3px;

}

.multi-line-mimic {
    border: 2px solid #3498db; /* Set border color and thickness */
  
  outline: none; 
    width: 100%; /* Full width */
    height: 100px; /* Fixed height */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto; /* Scroll vertically if text exceeds */
    white-space: pre-wrap; /* Allow wrapping */
    word-wrap: break-word;
  }
  