.main-app_header {
  background-color: #d3d1d1;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 13px 0px;
}

.header-button {
  position: absolute;
  right: 13%;
  transform: translateX(50%);
  /* Adjusts the button to be centered relative to the sidebar */
  padding: 7px 15px;
  background-color: white;
  color: #8896CB;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #8896CB;
  font-weight: 200;
  font-size: 10px;
}

.error-button {
  position: absolute;
  left: calc((100% - 20%) / 2);
  transform: translateX(-50%);
  background-color: rgb(244, 150, 150);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 15px;
  font-weight: 200;
  font-size: 10px;
}